.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
hand-written-notes_23.10.22.jpg
hand-written-notes_05.10.22.jpg
logger.txt
pool_gimp.xcf
images/extra/
